* {
  background-color: #121212;
  color: white;
}

/* Styling for login page */
#login {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: solid 1px white;
  position: absolute;
  top: 30%;
  left: 40%;
  background-color: #1a1a1a;
  color: white;
}
#login:hover { 
  background-color: #242424;
}

#login input, button {
  display: flex;
  flex-direction: column;
  margin: 0.5em;
  background-color: #1a1a1a;
}

#login input, button {
  background-color: #242424;
}

#login form, h1 {
  background-color: #1a1a1a;
}

#login button {
  justify-content: center;
  color: white;
}

/* Styling for main page */
#main-page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10%;
}

h1 {
  margin: 1em 0;
}

#main-page-container input {
  margin: 1em 0;
}

#card {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#albumPicture {
  display: flex;
  justify-content: center;
}

#albumPicture img {
  width: 50%;
}


.swipe {
  position: absolute;
}

.cardContainer {
  width: 90vw;
  max-width: 260px;
  height: 300px;
}

.card {
  position: relative;
  background-color: #fff;
  width: 80vw;
  max-width: 260px;
  height: 300px;
  box-shadow: 0px 0px 60px 0px rgba(0,0,0,0.30);
  border-radius: 20px;
  background-size: cover;
  background-position: center;
}

#playbutton {
  background-color: green;
  color: white;
}

@keyframes popup {
  0%   { transform: scale(1,1) }
  10%  { transform: scale(1.1,1.1) }
  30%  { transform: scale(.9,.9) }
  50%  { transform: scale(1,1) }
  57%  { transform: scale(1,1) }
  64%  { transform: scale(1,1) }
  100% { transform: scale(1,1) }
}
