* {
  background-color: gray;
}

#main-page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#card {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#albumPicture {
  display: flex;
  justify-content: center;
}

#albumPicture img {
  width: 50%;
}


.swipe {
  position: absolute;
}

.cardContainer {
  width: 90vw;
  max-width: 260px;
  height: 300px;
}

.card {
  position: relative;
  background-color: #fff;
  width: 80vw;
  max-width: 260px;
  height: 300px;
  box-shadow: 0px 0px 60px 0px rgba(0,0,0,0.30);
  border-radius: 20px;
  background-size: cover;
  background-position: center;
}

@keyframes popup {
  0%   { transform: scale(1,1) }
  10%  { transform: scale(1.1,1.1) }
  30%  { transform: scale(.9,.9) }
  50%  { transform: scale(1,1) }
  57%  { transform: scale(1,1) }
  64%  { transform: scale(1,1) }
  100% { transform: scale(1,1) }
}
