* {
  background-color: #121212;
  color: white;
  font-family: 'Cabin' ;
  /* border: solid red 1px; */
}

/* Styling for login page */
#login {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: solid 1px white;
  position: absolute;
  top: 30%;
  left: 40%;
  /* background-color: #430a0a; */
  color: white;
  border-radius: 20px;
  padding: 20px;
  /* width: 30%; */
  
}
#login:hover { 
  background-color: #242424;
}

#login input,#login button {
  display: flex;
  flex-direction: column;
  margin: 0.5em;
  background-color: #1a1a1a;
}

#login input, button {
  background-color: #242424;
}

#login form, h1 {
  background-color: #1a1a1a;
}

#login button {
  justify-content: center;
  color: white;
  border-radius: 20px;
  width: 30%;
  align-items: center;
  outline: none;
  /* width: 30px; */

}

/* Styling for main page */
#main-page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  margin: 1em 2em;;
}


#card {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#albumPicture {
  display: flex;
  justify-content: center;
}

#albumPicture img {
  width: 50%;
}

div.swipe {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  /* top: 30%; */
}

.cardContainer {
  width: 90vw;
  max-width: 260px;
  height: 300px;
}

.card {
  position: relative;
  background-color: #fff;
  width: 80vw;
  max-width: 260px;
  height: 300px;
  box-shadow: 0px 0px 60px 0px rgba(0,0,0,0.30);
  border-radius: 20px;
  background-size: cover;
  background-position: center;
}

#playButton {
  background-color:  rgb(18, 236, 18) 2px;
  color: white;
  border-radius: 20px;
  width: 50%;
  align-items: center;
  padding: 10px;
  outline: none;
  border: white;
}

@keyframes popup {
  0%   { transform: scale(1,1) }
  10%  { transform: scale(1.1,1.1) }
  30%  { transform: scale(.9,.9) }
  50%  { transform: scale(1,1) }
  57%  { transform: scale(1,1) }
  64%  { transform: scale(1,1) }
  100% { transform: scale(1,1) }
}

#searchbar {
  /* max-width: 260px; */
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  max-width: 400px;
  width: 20%;
}

#searchbar input {
  padding: 10px;
  margin: 50px 0;
  border-radius: 20px;
  border: solid white;
  /* width: 100%; */
  align-items: center;
  width: 50%
  
  
}

#searchbutton {
  height: 40px;
  align-self: center;
  border-radius: 20px;
  border: solid white;
  width: 30%;
}

button:hover {
  cursor: pointer;
}

#title {
  font-size: 100px;
  margin: 20px;
  border: solid rgb(18, 236, 18) 2px;
  border-radius: 10px;
  padding: 10px;
}

/* #searchbar, .card{rgb(18, 236, 18) 2px;
  display: flex;
  align-items: center;
  flex-direction: row;

} */
/* 
.container1 {
  display: flex;
  align-items: center;
} */

input:focus {
  outline: 1px solid rgb(18, 236, 18);
}